.servicios{
    background-color: var(--fondoseccion5_servicios);
    display: flex;
    padding: 150px 177px;
    flex-direction: column;
}
.servicios sup{
    font-size: 35px;
}

.servicios h1,h2{
    color: var(--textoheaderhover);
}
.servicios p, sup{
    color:var(--textoheader)
}
.head_servicios{
    margin: 40px 0;
}
.column_service_head{
    display: flex;
}
.headiconServices{
    transform: scaleY(5);
    text-align: end;
    padding-left: 80%;
    padding-top: 4%;
}
.fleximgtext1,.fleximgtext2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    img{
        max-width: 40%;
        height: auto;
        border-radius: 10px;
    }
    

}
.fleximgtext1 img{
    margin: 5px;
}
.texto_1s{
    text-align: start;
    padding-top: 10px;
    padding-right: 20px;
}
.texto_1s .contratame{
    padding-top: 25%;
}
.texto_1s .me{
    padding-left: 4px;
}
.texto_1s i{
    padding-left: 20px;
}

.fleximgtext2{
    
    margin-top: 40px;
}
.texto_2s{
    text-align: end;
}
.texto_2s .cv_descarga{
    padding-top: 25%;
}
.texto_2s i{
    transform:scaleX(5) ;
    padding-right: 10px;
}
.texto_2s .Descar{
    padding-right: 4px;
}